.body-container {
  height: 100%;
  max-width: 93%;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 128px auto 80px;
}

main {
  grid-row: 2 / span 1;
}

.footer {
  grid-row: 3 / span 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  grid-row: 1 / span 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;

  .right {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 24px;
      width: 24px;
      vertical-align: middle;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 1.3rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .left a {
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }

  .hamburger {
    display: none;

    height: 50px;
    width: 50px;
  }

  .bar {
    background-color: black;

    height: 4px;
    width: 36px;

    margin: 3px;
    border-radius: 10px;
  }
}

.mobile-nav {
  background-color: white;

  font-size: 1.1rem;

  width: 80px;
  height: 100vh;
  padding: 2rem 3.3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: -80px;
  z-index: 10;

  transition: transform 0.3s;

  img {
    width: 24px;
    height: 24px;
  }

  a {
    text-decoration: none;
    color: black;
    margin: 1rem 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.open-mobile-nav {
  transform: translateX(-80px);
}

@media only screen and (max-width: 768px) {
  .body-container {
    margin-top: 3rem;
    grid-template-rows: 4.5rem auto 5rem;
  }

  .project-grid {
    margin-top: 3rem;
  }

  .navbar {
    padding: 1.5rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    width: 100%;

    .right {
      display: none;
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      z-index: 20;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .footer {
    font-size: 0.9rem;
  }
}

.animateBar1 {
  animation: flipBar1 0.5s forwards;
}

.animateBar2 {
  animation: fadeBar2 0.5s forwards;
}

.animateBar3 {
  animation: flipBar3 0.5s forwards;
}

@keyframes flipBar1 {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(45deg) translate(4px, 10px);
  }
}

@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }

  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes flipBar3 {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(-45deg) translate(4px, -10px);
  }
}
