@use './global';
@use './normalize';
@use './shared';

main {
  h1 {
    text-align: center;
    font-weight: 600;
  }

  .crow-image-container {
    border: 1px solid #eee;
    box-shadow: 0.5px 0.5px 15px 1px #f5f4f4;
    margin: 3.3rem auto;
    width: 60%;
    max-width: 700px;

    img {
      width: 100%;
    }
  }

  .crow-description {
    margin: 4rem auto;
    width: 60%;

    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 2;

    a {
      text-decoration: none;

      &:visited {
        color: rgb(77, 77, 177);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .crow-description {
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
  }
}
